In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter('ignore', UserWarning)

In [5]:
crime = pd.read_csv('Crimes2020_cleaned2.csv', encoding = 'utf-8', header = 0)

In [10]:
crime.head()

,CRIMEID,CASE NUMBER,DATE,BLOCK,PRIMARY TYPE,DESCRIPTION,LOCATION DESCRIPTION,ARREST,DOMESTIC,DISTRICT,COMMUNITY AREA,LATITUDE,LONGITUDE,LOCATION
0,25603,JD423602,11/07/2020 07:40:00 PM,054XX W CORTEZ ST,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,15,25,41.899438,-87.762519,"(41.899437761, -87.762518782)"
1,25598,JD423611,11/07/2020 04:07:00 AM,021XX E 72ND PL,HOMICIDE,FIRST DEGREE MURDER,YARD,False,False,3,43,41.763456,-87.573332,"(41.763455518, -87.573332145)"
2,12178135,JD381686,09/27/2020 11:00:00 PM,068XX S RIDGELAND AVE,OTHER OFFENSE,OTHER CRIME AGAINST PERSON,APARTMENT,False,False,3,43,41.770931,-87.582581,"(41.770931406, -87.582580822)"
3,25600,JD424303,11/07/2020 06:20:00 PM,074XX N OAKLEY AVE,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,24,2,42.016114,-87.687518,"(42.016113932, -87.687517771)"
4,25599,JD423568,11/07/2020 02:13:00 AM,059XX W HURON ST,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,15,25,41.892831,-87.773486,"(41.892831474, -87.773485904)"

In [ ]:
#crime.isnull().sum()

In [24]:
crime['DATE'] = pd.to_datetime(crime['DATE'])
crime['DATE']

0        2020-11-07 19:40:00
1        2020-11-07 04:07:00
2        2020-09-27 23:00:00
3        2020-11-07 18:20:00
4        2020-11-07 02:13:00
                 ...
163355   2020-01-01 01:24:00
163356   2020-01-01 03:00:00
163357   2020-01-01 14:13:00
163358   2020-01-01 04:07:00
163359   2020-01-01 15:00:00
Name: DATE, Length: 163360, dtype: datetime64[ns]

In [25]:
crime.head()

,CRIMEID,CASE NUMBER,DATE,BLOCK,PRIMARY TYPE,DESCRIPTION,LOCATION DESCRIPTION,ARREST,DOMESTIC,DISTRICT,COMMUNITY AREA,LATITUDE,LONGITUDE,LOCATION
0,25603,JD423602,2020-11-07 19:40:00,054XX W CORTEZ ST,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,15,25,41.899438,-87.762519,"(41.899437761, -87.762518782)"
1,25598,JD423611,2020-11-07 04:07:00,021XX E 72ND PL,HOMICIDE,FIRST DEGREE MURDER,YARD,False,False,3,43,41.763456,-87.573332,"(41.763455518, -87.573332145)"
2,12178135,JD381686,2020-09-27 23:00:00,068XX S RIDGELAND AVE,OTHER OFFENSE,OTHER CRIME AGAINST PERSON,APARTMENT,False,False,3,43,41.770931,-87.582581,"(41.770931406, -87.582580822)"
3,25600,JD424303,2020-11-07 18:20:00,074XX N OAKLEY AVE,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,24,2,42.016114,-87.687518,"(42.016113932, -87.687517771)"
4,25599,JD423568,2020-11-07 02:13:00,059XX W HURON ST,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,15,25,41.892831,-87.773486,"(41.892831474, -87.773485904)"

In [26]:
crime.to_csv('Crimes2020_cleaned22.csv', encoding='utf-8', index=False)