In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter('ignore', UserWarning)

In [ ]:
# with open('CTA_-_System_Information_-_List_of__L__Stops.csv') as f:
#     print(f)

In [2]:
CTA = pd.read_csv('CTA_-_System_Information_-_List_of__L__Stops.csv', encoding = 'gbk', header = 0)

In [ ]:
CTA.head()

In [3]:
CTA.columns = CTA.columns.str.upper()
CTA['LATITUDE'] = 0
CTA['LONGITUDE'] = 0
CTA.head()

,STOP_ID,DIRECTION_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,ADA,RED,BLUE,G,BRN,P,PEXP,Y,PNK,O,LOCATION,LATITUDE,LONGITUDE
0,30162,W,18th (54th/Cermak-bound),18th,18th (Pink Line),40830,True,False,False,False,False,False,False,False,True,False,"(41.857908, -87.669147)",0,0
1,30161,E,18th (Loop-bound),18th,18th (Pink Line),40830,True,False,False,False,False,False,False,False,True,False,"(41.857908, -87.669147)",0,0
2,30022,N,35th/Archer (Loop-bound),35th/Archer,35th/Archer (Orange Line),40120,True,False,False,False,False,False,False,False,False,True,"(41.829353, -87.680622)",0,0
3,30023,S,35th/Archer (Midway-bound),35th/Archer,35th/Archer (Orange Line),40120,True,False,False,False,False,False,False,False,False,True,"(41.829353, -87.680622)",0,0
4,30214,S,35-Bronzeville-IIT (63rd-bound),35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),41120,True,False,False,True,False,False,False,False,False,False,"(41.831677, -87.625826)",0,0

In [4]:
for index,row in enumerate(CTA['LOCATION']):
    CTA['LATITUDE'][index] = row.replace('(','').replace(')','').split(',')[0]
    CTA['LONGITUDE'][index] = row.replace('(','').replace(')','').split(',')[1]

CTA.drop(['ADA', 'RED', 'BLUE', 'G', 'BRN', 'P', 'PEXP', 'Y', 'PNK', 'O'], axis = 1, inplace = True)
CTA.head()

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

E:\Anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,STOP_ID,DIRECTION_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,LOCATION,LATITUDE,LONGITUDE
0,30162,W,18th (54th/Cermak-bound),18th,18th (Pink Line),40830,"(41.857908, -87.669147)",41.857908,-87.669147
1,30161,E,18th (Loop-bound),18th,18th (Pink Line),40830,"(41.857908, -87.669147)",41.857908,-87.669147
2,30022,N,35th/Archer (Loop-bound),35th/Archer,35th/Archer (Orange Line),40120,"(41.829353, -87.680622)",41.829353,-87.680622
3,30023,S,35th/Archer (Midway-bound),35th/Archer,35th/Archer (Orange Line),40120,"(41.829353, -87.680622)",41.829353,-87.680622
4,30214,S,35-Bronzeville-IIT (63rd-bound),35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),41120,"(41.831677, -87.625826)",41.831677,-87.625826

In [5]:
CTA.to_csv('CTA_cleaned.csv', encoding='utf-8', index=False)